<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <p>WELCOME TO OUR REAL ESTATE COMPARATOR<br />
    Please enter a URL le bon coin and push two time the button ok
        
    
    <form action="/" method="GET">
        <input type="text" name="urlLBC" />
        <button type="submit">
            OK
        </button>
         

    </form>
    
    This is the url of the offer that we are comparing:   <%= message %> <br />
      
        
        Price of the home : <%= RealEstateAdPrice %> € <br />
        Surface of the house : <%=RealEstateAdSurface %> m2 <br />
        Price by square meter : <%=RealEstateAdPricePerM2 %> €  <br />
        Type of house: <%=RealEstateAdType %>  <br />
        City and postal code : <%=RealEstateAdCity %>  <br />
        Average price of a house in this town : <%= message1 %> <br />
        Verdict : <%= message2 %>
      
    </p>  
</body>

</html>