<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <p>Welcome to our house pricing comparator <br>
        Price of this house is <%= message %> euros <br>
        Surface : <%= message2 %> m^2 <br>
        City : <%= message3 %> <br>
        Postal code : <%= message4 %> <br>
        Type of property : <%= message5 %> <br>
        Price for 1M^2 : <%= message7 %> <br>
        Estimation : <%= message8 %> <br>
        Verdict : <%= message9 %> <br>     
    </p>
</body>

</html>